/* General */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: row wrap;
}

main, footer {
  margin: 0 auto;
  width: 70%;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  border: 1px solid blue;
}

.image-holder {
  display: flex;
  height: 100%;
  align-items: center
}

/* Header */
header {
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  height: 600px;
  padding: 0 20px;
  width: 100%;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  height: 15%;
  width: 100%;
}

.top-level-content-block {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 50%;
}

.top-level-content-block a {
  margin: 10px;
}

.top-level-buttons-block a {
  margin: 10px;
}

.top-level-buttons-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: auto;
  width: 50%;
  
}

.hero-logo {
  height: 70px;
}

.hero-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

img {
  height: 300px;
}

/* Article */
article {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
}

article h1, p, a {
  margin: 5px auto;
  height: fit-content;
}

/* Main */
.available-nanny-display {
  align-items: center;
  border: 1px solid green;
  height: 100px;
  justify-content: center;
}

.available-nanny-display img {
  height: 60%;
}

.available-nanny-display img, p {
  margin: auto 10px;
}

.home-customer-register {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  justify-content: center;
}

.home-customer-register input, button {
  height: 40%;
  margin: auto 5px;
}

.full-row-article {
  width: 65%;
}

.daily-diary-image {
  height: 100px;
  width: 200px;
}

.column-content-container {
  flex-flow: column;
  align-items: center;
}

/* Footer */
footer {
  display: flex;
  flex-flow: row wrap;
  height: 150px;
}

footer section {
  height: 50px;
}

footer section:nth-of-type(2n+1) {
  width: 20%;
}

footer section:nth-of-type(2) {
  display: flex;
  flex-flow: row;
  width: 60%;
}

.social-media-logo {
  height: 30px;
}

footer p {
  text-align: center;
  width: 100%;
}

.footer-logo {
  height: fit-content;
  margin: auto;
  width: 50%;
}