/* General */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

body {
  display: flex;
  flex-flow: row wrap;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  height: 390px;
}

footer {
  margin: 0 auto;
  width: 70%;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.action-button {
  background-color: #00C88C;
  border-radius: 4%;
  color: white;
  font-size: 14px;
  line-height: 20px;
  min-width: 80px;
  padding: 10px;
  text-align: center;
}

.app-sample-holder {
  width: 50%;
}

.app-sample-holder img {
  display: block;
  margin: auto;
}

.image-holder {
  display: flex;
  height: 100%;
  align-items: center
}

/* Header */
h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}

header {
  display: flex;
  flex-flow: row wrap;
  height: 800px;
  padding: 0 20px;
  width: 100%;
}

.header-background {
  background-image:
  linear-gradient(314.72deg, rgba(200, 109, 215, 0.63) -1.5%, rgba(126, 73, 195, 0.6) 39.43%, rgba(89, 18, 172, 0.9) 86.02%),
  url('https://github.com/JungleDevs/frontend-challenge-001/blob/master/resources/banner_image.png?raw=true');
  background-size: cover;
  color: white;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  height: 15%;
  width: 100%;
}

nav a {
  font-size: 14px;
  line-height: 20px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
}

header p {
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.top-level-content-block {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  margin: auto;
  width: 60%;
}

.top-level-content-block div {
  width: 12%;
}

.top-level-buttons-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: auto;
  width: 40%;
}

.hero-logo {
  position: absolute;
  height: 80px;
  left: 20px;
  top: 0;
}

.hero-content {
  display: flex;
  flex-flow: row wrap;
  height: 80%;
  margin: 0 auto;
  width: 80%;
}

.hero-content a {
  align-items: center;
  display: flex;
}

.hero-content a p {
  margin-left: 10px;
}

.play-button {
  height: 50px;
}

/* Article */
article {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  width: 40%;
}

article a {
  margin-top: 20px;
  margin-left: 0;
}

article p {
  margin: 0;
}

/* Main */
h2, h3 {  
  font-weight: 500;
  line-height: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

hr {
  border: 1px solid #DFDFDF;
  margin: 70px auto;
  width: 40%;
}

hr:first-of-type {
  margin-top: 0;
  width: 100%;
}

main a {
  color: #5E20A4;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

main section {
  margin: auto;
  width: 70%;
}

.available-nanny-display {
  height: 100px;
  justify-content: center;
}

.available-nanny-display img {
  height: 60%;
}

.available-nanny-display img, p {
  margin: auto 10px;
}

.column-content-container {
  flex-flow: column;
  align-items: center;
}

.daily-diary-image {
  height: 100px;
  width: 200px;
}

.full-row-article {
  width: 65%;
}

.full-row-article a {
  margin: auto;
}

.full-row-article h2 {
  margin: auto;
}

.full-row-image {
  margin: 30px auto;
}

.full-row-article p {
  margin: 30px auto;
}

.home-customer-register {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  justify-content: center;
}

.home-customer-register input, a {
  height: 40%;
  margin: auto 10px;
}

.in-text-link {
  margin: 0;
}

.share-everything-header {
  width: 50%;
}

/* Footer */
footer {
  display: flex;
  flex-flow: row wrap;
  height: 150px;
}

footer section {
  height: 50px;
}

footer section:nth-of-type(2n+1) {
  width: 20%;
}

footer section:nth-of-type(2) {
  display: flex;
  flex-flow: row;
  width: 60%;
}

.social-media-logo {
  height: 30px;
}

footer p {
  text-align: center;
  width: 100%;
}

.footer-logo {
  height: fit-content;
  margin: auto;
  width: 50%;
}